* {box-sizing: border-box;}

:root {
    /* Main (color-primary) #08A6E4
Main used for shadows (color-primary-shadow) rgba(7, 172, 230, .16)
Red accent (color-redish) 832cb31f-c0e4-4c7c-8cfd-8120400cc2
Green accent (color-green) #55DFB4
Black (color-black) #000000
Grey (color-grey) #A5A5A5
Light grey (color-light-grey) #F7F7F7
White (color-white) #FFFFFF*/
    --primary-color: #08A6E4;
    --primary-shadow-color: rgba(7, 172, 230, .16);
    --white-color: #FFFFFF;
    --whitebluish-color: #F7F7F7;
    --whiteblue-color: #E8E9ED;
    --greyblue-color: #07ACE629;
    /*  --lightblue-color: #08A6E4; == primary */
    --lighterblue-color: #07ACE6;
    --darkgrey-color: #FF091129;
    --darkestgrey-color: #F9043629;
    /*--red-accent-color: 832cb31f-c0e4-4c7c-8cfd-8120400cc2;  */
    --pinky-color: #FB3B64;
    --darkpinky-color: #EB476E;
    --tealgreen-color: #55dfb4;
    --lighterblack-color: #00000029;
    --lightgrey-color: #A5A5A5;
    --middlegrey-color: #95989A;
    --grey-color: #707070;
    --lightblack-color: #13253B;
    --black-color: #000000;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --button-radius: 35px;
}
body {
  font-family: var(--font-open-sans);
  width: 95%;
}
h2 {
  font-family: var(--font-raleway);
  font-size: 2em; /* 2.25rem  36px */
}

/* header */
.header {
  height: 70px;
  box-shadow: var(--primary-shadow-color);
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;  /*   |  |  | */
  align-items: center;
  height: 100%;
  text-align: center;
}

.logo {
  font-family: var(--font-raleway);
  font-size: 2em; /*32px,  2rem;  */
  font-weight: 300;
  color: var(--primary-color);
}
.container {
  width: 1352px;
  margin: 0 auto;  /* auto default */
}

nav .nav__header {
  display: flex;

}
nav .nav__header .nav__element {
  padding: 25px;
  text-align: center;
  letter-spacing: 3.28px;
  color: var(--lightgrey-color);
  opacity: 1;
}
.nav__link {
  color: var(--black-color);
  border: var(--primary-color);
}

.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.opening .opening__header {
  font-family: var(--font-raleway);
}

.opening__image {
  width: 100%;
}

.btn-primary {
  border-radius: 50px;
  background-color: var(--primary-color);
  padding: 15px 90px;
}
.btn-primary1 {
  border: none;
  border-radius: var(--button-radius);
  margin: 1px solid var(--darkpinky-color);
  background-color: var(--darkpinky-color);
  color: var(--white-color);
  padding: 20px 80px;
  
}
.btn-primary2 {
  border: none;
  border-radius: var(--button-radius);
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 20px 80px;
  bottom: 25px;
}
.btn-primary3 {
  border: none;
  border-radius: var(--button-radius);
  background-color: var(--tealgreen-color);
  color: var(--white-color);
  padding: 20px 80px;
  bottom: 25px;
}


.statistics .statistics__div {
  text-align: center;
  max-width: 800px;
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-between;
}
.statistics .statistics__div .statistics__header {
  text-align: center;

}
.statistics .statistics__div .statistics__header .statistics__image
.benefits {
  display: flex;
  background-color: var(--whitebluish-color);
  position: absolute;
}
.statistics__container {
  display: flex;
  justify-content: space-between;
}
.statistics__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: var(--font-raleway);
}
.statistics__circle {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  position: relative;
}
.statistics__container  .statistics__box:nth-child(1) .statistics__circle {
  background-color: #FB3B64;
  padding-left: 30px;
}
.statistics__container  .statistics__box:nth-child(2) .statistics__circle {
  background-color: #08A6E4;
  padding-left: 25px;
  padding-top: 18px;
}
.statistics__container  .statistics__box:nth-child(3) .statistics__circle {
  background-color: #55DFB4;
  padding-left: 30px;
  padding-top: 9px;
  
}

.benefits {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #F7F7F7;
}
.benefits__div {
  
  box-sizing: content-box;
    margin: 90px 36px;
    max-width: 415px;
    
}
.benefits .benefits__div .benefits__header {
  display: flex;
  border-radius: 5px;
  text-align: left;
}
.benefits .paragraph {
  line-height: 1.375rem;
  margin-top: 30px;
}


.benefits__div .benefits__image1 {
  padding-left: 400px;
}
 
.benefits__image2 {
  padding-right: 400px;
}

.benefits__div .benefits__image3 {
  padding-left: 400px;
}

/* Pricing
 */

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.pricing__boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}



.pricing__box--basic .pricing__price {
  margin-bottom: 10px;
}
.pricing__box--basic {
  width: 100px;
  height: 100px;
  margin: 0 40px;
  
}

/*** Professional Box **/
.pricing__box--professional {
  --accent-color: var(--primary-color);
  width: 100px;
  height: 100px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px var(--primary-shadow-color);

}
.pricing__box--premium {
  width: 100px;
  height: 100px;
  margin: 0 40px;
  
}

.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}

.pricing__box--professional .pricing__item {
  margin-bottom: 25px;
}
  
.pricing__box--premium {
  color: var(--black-color);
}
.pricing__box--basic .pricing__price {
  color: var(--black-color);
}
.pricing__box--premium .pricing__price {
  color: var(--black-color);
}
.pricing__box--professional .pricing__price {
  color: var(--black-color);
}


.contact__column .btn-primary {
  border-radius: 70px;
  background-color: var(--primary-color);
  padding: 25px 155px;
  color: var(--white-color);
}


.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375em;
}
.form .btn {
  font-size: 0.8125em;
  padding: 20px 97px;
  align-self: flex-end;
  margin-top: 20px;
}



/**
 * Form
 */
.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  display: flex;
  flex-direction: column;
  
}

.form__field:first-of-type {
  margin-bottom: 42px;
}

.form__label {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-color);
  line-height: 0.9rem;
  letter-spacing: 3px;
  font-size: 0.6875rem;
}

.form__input {
  border: none;
  border-bottom: 1px solid grey;
  background-color: transparent;
  line-height: 2.625rem;
}

.form__consent {
  margin-top: 30px;
}

.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375em;
}

.form__checkbox input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
  opacity: 0;
}

.form__checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--white-color);
  border: 1px solid grey);
  border-radius: 4px;
}

.form__checkbox input:checked ~ .checkbox {
  background-image: url(../assets/Checkmark.svg);
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
}

.form__checkbox .consent__text {
  margin: 0 10px;
  font-size: 0.75em;
  color: var(--color-grey);
  line-height: 17px;
}

.form .btn {
  font-size: 0.8125em;
  padding: 20px 97px;
  align-self: flex-end;
  margin-top: 20px;
}
.btn-primary {
  width: 300px;
  text-align: center;
  color: white;
}


.footer {
  box-shadow: 0 -5px 40px #00000029;
  padding: 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.footer__copy {
  font-size: 0.6875rem;
  line-height: 1.5rem;
  color: var(--darkgrey-color);
  margin-top: 1px;
}

.footer__icons a:first-of-type {
  margin-right: 25px;
}